<dialog #about>
  <div class="settings-body">
    <fieldset>
      <legend>Font</legend>
      <div class="input-wrapper">
        <label for="range-font-size">Font Size</label>
        <input id="range-font-size" type="range" min="12" max="24" value="13" step="1"
               [value]="fontSize"
               (change)="changeFontSize($event)"/>
        <label for="range-font-size">{{ fontSize }} px</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Theme</legend>
      <div class="input-wrapper">
        <input type="checkbox" id="dark-mode" [checked]="isDarkTheme" (change)="switchTheme($event)">
        <label for="dark-mode">Dark mode</label>
      </div>

    </fieldset>

    <fieldset style="border: none; text-align: center">
      <p></p>
      <p>
        Made with angular, the source code is on
        <a href="https://github.com/izquiratops/Cute-Hacker-News"
           target="_blank"
           rel="noopener noreferrer">
          Github
        </a>.
      </p>
      <p>
        You can
        <a href="https://ko-fi.com/izquiratops" target="_blank" rel="noopener noreferrer">
          buy me a coffee
        </a> if you'd like ❤️
      </p>
    </fieldset>

    <footer>
      <button aria-label="Close" (click)="closeConfigModal()">Close</button>
    </footer>
  </div>
</dialog>
