<header>
    <ng-container
            [ngTemplateOutlet]="headerBox"
            [ngTemplateOutletContext]="{ $implicit: story | async }">
    </ng-container>
</header>

<main>
    <ng-container
            [ngTemplateOutlet]="bodyBox"
            [ngTemplateOutletContext]="{ $implicit: story | async }">
    </ng-container>
</main>

<ng-template #headerBox let-story>
    <h2>{{ story.title }}</h2>
</ng-template>

<ng-template #bodyBox let-story>
    <nav>
        <button [routerLink]="['/feed']" title="Go back to homepage">
            Go back
        </button>
    </nav>

    <div class="details-container">
        <div>
            By <b>{{ story.by }}</b>, {{ story.time * 1000 | date: "short" }}
        </div>

        <a *ngIf="story.url" [href]="trustedUrl | async" target="_blank" rel="noopener noreferrer">
            {{ story.url | domain }}
        </a>

        <p class="story-text" [innerHTML]="story.text"></p>
    </div>

    <ul class="tree-view-list">
        <ng-container
                [ngTemplateOutlet]="nodeTree"
                [ngTemplateOutletContext]="{ $implicit: (replies | async) || [] }">
        </ng-container>
    </ul>
</ng-template>

<ng-template #nodeTree let-replies>
    <li *ngFor="let reply of replies">
        <details open>
            <ng-container
                    [ngTemplateOutlet]="replyBox"
                    [ngTemplateOutletContext]="{ $implicit: reply }">
            </ng-container>

            <ul class="text-replies" *ngIf="reply.replies?.length > 0">
                <ng-container
                        [ngTemplateOutlet]="nodeTree"
                        [ngTemplateOutletContext]="{ $implicit: reply.replies }">
                </ng-container>
            </ul>
        </details>

        <div *ngIf="reply.lazyLoaded" class="lazy-loaded-container">
            <a class="lazy-loaded-button" (click)="handleLazyLoad(reply)">
                Load more
            </a>
        </div>
    </li>
</ng-template>

<ng-template #replyBox let-reply>
    <summary>
    <span>
      <b>{{ reply.by }}</b>, {{ reply.time * 1000 | date: "short" }}
    </span>
    </summary>
    <p [innerHTML]="reply.text" class="text-body"></p>
</ng-template>

