header {
  justify-content: center;
  grid-template-columns: var(--centered-layout);
}

summary {
  cursor: pointer;
  margin-block: var(--space-sm);
}

li, ul {
  margin-block: var(--space-xs);
}

li {
  border-left: 2px solid var(--primary-main);
  padding-inline-start: var(--space-sm);
}

/* Header */

.details-container {
  display: grid;
  gap: var(--space-xs);
}

/* List of replies */

.tree-view-list {
  border: 0;
  margin: 0;
}

/* Text reply */

.text-body {
  overflow-wrap: break-word;
}

.text-replies {
  padding-inline-start: var(--space-md);
}

.lazy-loaded-container {
  margin-top: var(--space-md);
}

@media screen and (max-width: 810px) {
  header {
    margin-block-end: var(--space-sm);
  }

  summary {
    margin-block: var(--space-xs);
  }

  .text-replies {
    padding-inline-start: 0;
  }
}
